Repository ros-navigation/navigation2, pull requests merged in 2018-10, with the labels that each got.

#123 Amcl refactorization
  src/libs/nav2_util/CMakeLists.txt
  src/libs/nav2_util/include/nav2_util/sensors/laser.h
  src/libs/nav2_util/include/nav2_util/sensors/odom.h
  src/libs/nav2_util/include/nav2_util/sensors/sensor.h
  src/libs/nav2_util/include/nav2_util/strutils.hpp
  src/libs/nav2_util/package.xml
  src/libs/nav2_util/src/sensors/laser.cpp
  src/libs/nav2_util/src/sensors/odom.cpp
  src/libs/nav2_util/src/sensors/sensor.cpp
  src/localization/nav2_amcl/src/amcl_node.cpp
  src/localization/nav2_amcl/src/amcl_node.hpp
Labels: enhancement, nav2_localization

#143 Avoid the copyright check in two directories because of the unsupport…
  src/mapping/nav2_map_server/package.xml
  src/planning/nav2_dijkstra_planner/package.xml
Labels: nav2_dijkstra_planner, nav2_map_server

#159 Fix dockerfile for new repo structure
  .travis.yml
  Dockerfile
Labels: build

#141 Nav2_tasks readme
  nav2_map_server/test/test_launch_files/__pycache__/map_server_node.launch.cpython-35.pyc
  nav2_tasks/README.md
  nav2_tasks/doc/hierarchy.odg
  nav2_tasks/doc/hierarchy.svg
Labels: nav2_tasks

#144 Parse URDF file from ros_robot class
  nav2_robot/CMakeLists.txt
  nav2_robot/include/nav2_robot/ros_robot.hpp
  nav2_robot/package.xml
  nav2_robot/src/ros_robot.cpp
  nav2_simple_navigator/src/main.cpp
  nav2_simple_navigator/src/simple_navigator.cpp
Labels: nav2_robot

#173 Ability to build Pull Requests in Travis
  .travis.yml
  Dockerfile
Labels: build, enhancement

#175 Adding unit test to robot class and disable parsing URDF file
  nav2_robot/CMakeLists.txt
  nav2_robot/src/ros_robot.cpp
  nav2_robot/test/CMakeLists.txt
  nav2_robot/test/test_robot_class.cpp
Labels: nav2_robot

#187 Simple navigator readme
  nav2_simple_navigator/README.md
Labels: nav2_simple_navigator

#182 First draft of ROS Comparison doc
  doc/README.md
  doc/design/ROS_COMPARISON.md
  doc/design/move_base_compare_1.png
  doc/design/move_base_compare_2.png
  doc/use_cases/README.md
Labels: architecture, task

#204 Factoring out duplicated initialization code and addressing ROS naming convention violation
  nav2_robot/test/test_robot_class.cpp
Labels: nav2_robot

#179 Propagate task exceptions
  nav2_mission_executor/src/mission_executor.cpp
  nav2_robot/src/ros_robot.cpp
  nav2_simple_navigator/src/simple_navigator.cpp
  nav2_tasks/include/nav2_tasks/task_server.hpp
Labels: nav2_tasks

#226 Removed _CORRECTED suffix from ODOM_MODEL
  nav2_amcl/src/amcl_node.cpp
  nav2_util/include/nav2_util/sensors/odom.h
  nav2_util/src/sensors/odom.cpp
Labels: nav2_localization

#183 Mission execution readme
  nav2_mission_executor/README.md
Labels: nav2_mission_executor, task

#234 Get rid of the Robot abstract base class
  nav2_robot/CMakeLists.txt
  nav2_robot/include/nav2_robot/robot.hpp
  nav2_robot/include/nav2_robot/ros_robot.hpp
  nav2_robot/src/robot.cpp
  nav2_robot/test/test_robot_class.cpp
  nav2_simple_navigator/include/nav2_simple_navigator/simple_navigator.hpp
  nav2_simple_navigator/src/simple_navigator.cpp
Labels: nav2_robot, task

#237 Dockerfile update to fix build fails
  Dockerfile
  nav2_amcl/src/amcl_node.cpp
  nav2_controller/nav2_controller_dwb/src/dwb_controller.cpp
  nav2_costmap_2d/src/costmap_2d_node.cpp
  nav2_map_server/CMakeLists.txt
  nav2_map_server/package.xml
Labels: build
