Repository ros-navigation/navigation2, pull requests merged in 2019-05, with the labels that each got.

#661 Update the MissionExecutor for lifecycle nodes
  nav2_mission_executor/CMakeLists.txt
  nav2_mission_executor/include/nav2_mission_executor/execute_mission_behavior_tree.hpp
  nav2_mission_executor/include/nav2_mission_executor/mission_executor.hpp
  nav2_mission_executor/package.xml
  nav2_mission_executor/src/execute_mission_behavior_tree.cpp
  nav2_mission_executor/src/main.cpp
  nav2_mission_executor/src/mission_executor.cpp
  nav2_mission_executor/test/CMakeLists.txt
  nav2_mission_executor/test/test_mission_executor.cpp
Labels: nav2_lifecycle

#678 Port the simple navigator to ROS2 actions
  nav2_simple_navigator/CMakeLists.txt
  nav2_simple_navigator/include/nav2_simple_navigator/simple_navigator.hpp
  nav2_simple_navigator/package.xml
  nav2_simple_navigator/src/main.cpp
  nav2_simple_navigator/src/simple_navigator.cpp
Labels: nav2_lifecycle

#645 Port nav2_util and nav2_tasks to lifecycle nodes
  nav2_amcl/COLCON_IGNORE
  nav2_bt_navigator/COLCON_IGNORE
  nav2_dwb_controller/COLCON_IGNORE
  nav2_mission_executor/COLCON_IGNORE
  nav2_motion_primitives/COLCON_IGNORE
  nav2_navfn_planner/COLCON_IGNORE
  nav2_tasks/CMakeLists.txt
  nav2_tasks/include/nav2_tasks/back_up_action.hpp
  nav2_tasks/include/nav2_tasks/behavior_tree_engine.hpp
  nav2_tasks/include/nav2_tasks/bt_action_node.hpp
  nav2_tasks/include/nav2_tasks/bt_conversions.hpp
  nav2_tasks/include/nav2_tasks/compute_path_to_pose_action.hpp
  nav2_tasks/include/nav2_tasks/compute_path_to_pose_task.hpp
  nav2_tasks/include/nav2_tasks/execute_mission_action.hpp
  nav2_tasks/include/nav2_tasks/execute_mission_task.hpp
  nav2_tasks/include/nav2_tasks/follow_path_action.hpp
  nav2_tasks/include/nav2_tasks/follow_path_task.hpp
  nav2_tasks/include/nav2_tasks/is_localized_condition.hpp
  nav2_tasks/include/nav2_tasks/navigate_to_pose_action.hpp
  nav2_tasks/include/nav2_tasks/navigate_to_pose_task.hpp
  nav2_tasks/include/nav2_tasks/rate_controller_node.hpp
  nav2_tasks/include/nav2_tasks/spin_action.hpp
  nav2_tasks/include/nav2_tasks/spin_task.hpp
  nav2_tasks/include/nav2_tasks/stop_action.hpp
  nav2_tasks/include/nav2_tasks/stop_task.hpp
  nav2_tasks/include/nav2_tasks/task_client.hpp
  nav2_tasks/include/nav2_tasks/task_server.hpp
  nav2_tasks/include/nav2_tasks/task_status.hpp
  nav2_tasks/package.xml
  nav2_tasks/src/behavior_tree_engine.cpp
  nav2_tasks/test/test_tasks.cpp
  nav2_util/CMakeLists.txt
  nav2_util/include/nav2_util/angleutils.hpp
  nav2_util/include/nav2_util/costmap_service_client.hpp
  nav2_util/include/nav2_util/global_localization_service_client.hpp
  nav2_util/include/nav2_util/lifecycle_service_client.hpp
  nav2_util/include/nav2_util/map_service_client.hpp
  nav2_util/include/nav2_util/motion_model/motion_model.hpp
  nav2_util/include/nav2_util/service_client.hpp
  nav2_util/package.xml
  nav2_util/src/costmap.cpp
  nav2_util/src/lifecycle_service_client.cpp
  nav2_util/src/lifecycle_utils.cpp
  nav2_util/src/motion_model/motion_model.cpp
  nav2_util/test/test_execution_timer.cpp
  nav2_util/test/test_lifecycle_utils.cpp
Labels: nav2_lifecycle

#596 Adding a service to clear a costmap around the robot
  nav2_costmap_2d/include/nav2_costmap_2d/clear_costmap_service.hpp
  nav2_costmap_2d/src/clear_costmap_service.cpp
  nav2_msgs/CMakeLists.txt
  nav2_msgs/srv/ClearCostmapAroundRobot.srv
Labels: 1 - High, enhancement

#666 Update the Navigation2 meta package for lifecycle changes
  navigation2/package.xml
Labels: nav2_lifecycle

#646 Add template classes for ROS2 action clients and servers
  nav2_msgs/CMakeLists.txt
  nav2_msgs/action/BackUp.action
  nav2_msgs/action/ComputePathToPose.action
  nav2_msgs/action/ExecuteMission.action
  nav2_msgs/action/FollowPath.action
  nav2_msgs/action/NavigateToPose.action
  nav2_msgs/action/Spin.action
  nav2_msgs/action/Stop.action
  nav2_msgs/package.xml
  nav2_util/CMakeLists.txt
  nav2_util/include/nav2_util/lifecycle_utils.hpp
  nav2_util/include/nav2_util/simple_action_server.hpp
  nav2_util/package.xml
  nav2_util/test/CMakeLists.txt
  nav2_util/test/test_actions.cpp
  nav2_util/test/test_execution_timer.cpp
  nav2_util/test/test_lifecycle_utils.cpp
Labels: nav2_lifecycle

#663 Add the rviz panel and action-based goal tool
  nav2_rviz_plugins/CMakeLists.txt
  nav2_rviz_plugins/icons/SetGoal.png
  nav2_rviz_plugins/icons/Time.svg
  nav2_rviz_plugins/include/nav2_rviz_plugins/goal_tool.hpp
  nav2_rviz_plugins/include/nav2_rviz_plugins/nav2_panel.hpp
  nav2_rviz_plugins/include/nav2_rviz_plugins/navigation_dialog.hpp
  nav2_rviz_plugins/package.xml
  nav2_rviz_plugins/plugins_description.xml
  nav2_rviz_plugins/src/goal_tool.cpp
  nav2_rviz_plugins/src/nav2_panel.cpp
  nav2_rviz_plugins/src/navigation_dialog.cpp
Labels: nav2_lifecycle

#680 Nav2 lifecycle controller
  nav2_controller/CHANGELOG.rst
  nav2_controller/CMakeLists.txt
  nav2_controller/include/nav2_controller/nav2_controller.hpp
  nav2_controller/include/nav2_controller/nav2_controller_client.hpp
  nav2_controller/package.xml
  nav2_controller/src/main.cpp
  nav2_controller/src/nav2_controller.cpp
  nav2_controller/src/nav2_controller_client.cpp
Labels: nav2_lifecycle

#696 Rename the nav2_controller to nav2_lifecycle_manager
  nav2_lifecycle_manager/CHANGELOG.rst
  nav2_lifecycle_manager/CMakeLists.txt
  nav2_lifecycle_manager/include/nav2_lifecycle_manager/lifecycle_manager.hpp
  nav2_lifecycle_manager/include/nav2_lifecycle_manager/lifecycle_manager_client.hpp
  nav2_lifecycle_manager/package.xml
  nav2_lifecycle_manager/src/lifecycle_manager.cpp
  nav2_lifecycle_manager/src/lifecycle_manager_client.cpp
  nav2_lifecycle_manager/src/main.cpp
  nav2_rviz_plugins/CMakeLists.txt
  nav2_rviz_plugins/include/nav2_rviz_plugins/nav2_panel.hpp
  nav2_rviz_plugins/package.xml
  nav2_rviz_plugins/src/nav2_panel.cpp
  nav2_rviz_plugins/src/navigation_dialog.cpp
Labels: nav2_lifecycle

#694 Adapt to recent changes with the ROS2 Action client interface
  nav2_rviz_plugins/include/nav2_rviz_plugins/navigation_dialog.hpp
  nav2_rviz_plugins/src/nav2_panel.cpp
  nav2_rviz_plugins/src/navigation_dialog.cpp
  nav2_simple_navigator/src/simple_navigator.cpp
  nav2_tasks/include/nav2_tasks/bt_action_node.hpp
  nav2_util/test/test_actions.cpp
Labels: nav2_lifecycle

#683 Experimental Random Crawl task implemented with Reinforcement Learning (DQN)
  nav2_experimental/nav2_rl/README.md
  nav2_experimental/nav2_rl/doc/BUILD.md
  nav2_experimental/nav2_rl/dqn.py
  nav2_experimental/nav2_rl/package.xml
  nav2_experimental/nav2_rl/parameters.py
  nav2_experimental/nav2_rl/random_crawl.py
  nav2_experimental/nav2_rl/random_crawl_train.py
  nav2_experimental/nav2_rl/saved_models/random_crawl_burger.h5
  nav2_experimental/nav2_rl/saved_models/random_crawl_waffle.h5
  nav2_experimental/nav2_rl/setup.cfg
  nav2_experimental/nav2_rl/setup.py
  nav2_experimental/nav2_rl/turtlebot3_env.py
Labels: 2 - Medium

#701 Get the build working again
  nav2_amcl/include/nav2_amcl/amcl_node.hpp
  nav2_amcl/src/amcl_node.cpp
Labels: 1 - High

#655 Port the DWB local planner to lifecycle nodes
  nav2_dwb_controller/costmap_queue/package.xml
  nav2_dwb_controller/dwb_controller/CMakeLists.txt
  nav2_dwb_controller/dwb_controller/include/dwb_controller/dwb_controller.hpp
  nav2_dwb_controller/dwb_controller/package.xml
  nav2_dwb_controller/dwb_controller/src/dwb_controller.cpp
  nav2_dwb_controller/dwb_controller/src/main.cpp
  nav2_dwb_controller/dwb_core/CMakeLists.txt
  nav2_dwb_controller/dwb_core/include/dwb_core/dwb_local_planner.hpp
  nav2_dwb_controller/dwb_core/include/dwb_core/goal_checker.hpp
  nav2_dwb_controller/dwb_core/include/dwb_core/publisher.hpp
  nav2_dwb_controller/dwb_core/include/dwb_core/trajectory_critic.hpp
  nav2_dwb_controller/dwb_core/include/dwb_core/trajectory_generator.hpp
  nav2_dwb_controller/dwb_core/package.xml
  nav2_dwb_controller/dwb_core/src/dwb_local_planner.cpp
  nav2_dwb_controller/dwb_core/src/publisher.cpp
  nav2_dwb_controller/dwb_critics/package.xml
  nav2_dwb_controller/dwb_msgs/package.xml
  nav2_dwb_controller/dwb_plugins/CMakeLists.txt
  nav2_dwb_controller/dwb_plugins/include/dwb_plugins/kinematic_parameters.hpp
  nav2_dwb_controller/dwb_plugins/include/dwb_plugins/limited_accel_generator.hpp
  nav2_dwb_controller/dwb_plugins/include/dwb_plugins/simple_goal_checker.hpp
  nav2_dwb_controller/dwb_plugins/include/dwb_plugins/standard_traj_generator.hpp
  nav2_dwb_controller/dwb_plugins/include/dwb_plugins/stopped_goal_checker.hpp
  nav2_dwb_controller/dwb_plugins/include/dwb_plugins/velocity_iterator.hpp
  nav2_dwb_controller/dwb_plugins/include/dwb_plugins/xy_theta_iterator.hpp
  nav2_dwb_controller/dwb_plugins/package.xml
  nav2_dwb_controller/dwb_plugins/src/kinematic_parameters.cpp
  nav2_dwb_controller/dwb_plugins/src/limited_accel_generator.cpp
  nav2_dwb_controller/dwb_plugins/src/simple_goal_checker.cpp
  nav2_dwb_controller/dwb_plugins/src/standard_traj_generator.cpp
  nav2_dwb_controller/dwb_plugins/src/stopped_goal_checker.cpp
  nav2_dwb_controller/dwb_plugins/src/xy_theta_iterator.cpp
  nav2_dwb_controller/dwb_plugins/test/CMakeLists.txt
  nav2_dwb_controller/dwb_plugins/test/goal_checker.cpp
  nav2_dwb_controller/dwb_plugins/test/twist_gen.cpp
  nav2_dwb_controller/nav_2d_utils/include/nav_2d_utils/odom_subscriber.hpp
  nav2_dwb_controller/nav_2d_utils/include/nav_2d_utils/parameters.hpp
  nav2_dwb_controller/nav_2d_utils/package.xml
Labels: nav2_lifecycle

#664 Lifecycle enable the costmap_2d package
  nav2_costmap_2d/CMakeLists.txt
  nav2_costmap_2d/include/nav2_costmap_2d/clear_costmap_service.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_2d_publisher.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_2d_ros.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/footprint.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/inflation_layer.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/layer.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/observation_buffer.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/obstacle_layer.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/static_layer.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/testing_helper.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/voxel_layer.hpp
  nav2_costmap_2d/package.xml
  nav2_costmap_2d/plugins/inflation_layer.cpp
  nav2_costmap_2d/plugins/obstacle_layer.cpp
  nav2_costmap_2d/plugins/static_layer.cpp
  nav2_costmap_2d/plugins/voxel_layer.cpp
  nav2_costmap_2d/src/clear_costmap_service.cpp
  nav2_costmap_2d/src/costmap_2d_cloud.cpp
  nav2_costmap_2d/src/costmap_2d_markers.cpp
  nav2_costmap_2d/src/costmap_2d_node.cpp
  nav2_costmap_2d/src/costmap_2d_publisher.cpp
  nav2_costmap_2d/src/costmap_2d_ros.cpp
  nav2_costmap_2d/src/footprint.cpp
  nav2_costmap_2d/src/layer.cpp
  nav2_costmap_2d/src/observation_buffer.cpp
  nav2_costmap_2d/test/integration/costmap_tester.cpp
  nav2_costmap_2d/test/integration/footprint_tests.cpp
  nav2_costmap_2d/test/integration/inflation_tests.cpp
  nav2_costmap_2d/test/integration/obstacle_tests.cpp
Labels: nav2_lifecycle

#709 Action enable dwb
  nav2_dwb_controller/dwb_controller/CMakeLists.txt
  nav2_dwb_controller/dwb_controller/include/dwb_controller/dwb_controller.hpp
  nav2_dwb_controller/dwb_controller/package.xml
  nav2_dwb_controller/dwb_controller/src/dwb_controller.cpp
  nav2_dwb_controller/dwb_controller/src/main.cpp
  nav2_dwb_controller/dwb_core/src/dwb_local_planner.cpp
  nav2_dwb_controller/dwb_critics/src/base_obstacle.cpp
  nav2_dwb_controller/dwb_critics/src/map_grid.cpp
  nav2_dwb_controller/dwb_critics/src/oscillation.cpp
  nav2_dwb_controller/dwb_critics/src/prefer_forward.cpp
  nav2_dwb_controller/dwb_critics/src/twirling.cpp
  nav2_dwb_controller/dwb_plugins/src/kinematic_parameters.cpp
  nav2_dwb_controller/dwb_plugins/src/limited_accel_generator.cpp
  nav2_dwb_controller/dwb_plugins/src/simple_goal_checker.cpp
  nav2_dwb_controller/dwb_plugins/src/standard_traj_generator.cpp
  nav2_dwb_controller/dwb_plugins/src/stopped_goal_checker.cpp
  nav2_dwb_controller/dwb_plugins/src/xy_theta_iterator.cpp
  nav2_dwb_controller/nav_2d_utils/include/nav_2d_utils/odom_subscriber.hpp
Labels: nav2_lifecycle

#711 Robot class to use node interfaces
  nav2_robot/include/nav2_robot/robot.hpp
  nav2_robot/src/robot.cpp
Labels: 1 - High, nav2_lifecycle

#718 Enable ROS2 actions in Motion Primitives
  nav2_motion_primitives/CMakeLists.txt
  nav2_motion_primitives/COLCON_IGNORE
  nav2_motion_primitives/include/nav2_motion_primitives/back_up.hpp
  nav2_motion_primitives/include/nav2_motion_primitives/motion_primitive.hpp
  nav2_motion_primitives/include/nav2_motion_primitives/spin.hpp
  nav2_motion_primitives/include/nav2_motion_primitives/stop.hpp
  nav2_motion_primitives/package.xml
  nav2_motion_primitives/src/back_up.cpp
  nav2_motion_primitives/src/main.cpp
  nav2_motion_primitives/src/spin.cpp
  nav2_motion_primitives/src/stop.cpp
Labels: 1 - High, nav2_lifecycle

#725 Update spin and backup BT actions to use ROS2 actions
  nav2_bt_navigator/src/navigate_to_pose_behavior_tree.cpp
  nav2_motion_primitives/src/back_up.cpp
  nav2_motion_primitives/src/spin.cpp
  nav2_msgs/action/BackUp.action
  nav2_msgs/action/Spin.action
  nav2_tasks/include/nav2_tasks/back_up_action.hpp
  nav2_tasks/include/nav2_tasks/spin_action.hpp
Labels: 1 - High, nav2_lifecycle

#733 Fix typo in motion primitives
  nav2_motion_primitives/include/nav2_motion_primitives/motion_primitive.hpp
Labels: 1 - High, nav2_lifecycle

#717 Use namespaces on costmap nodes so that pub/subs can co-exist
  nav2_bringup/launch/nav2_params.yaml
  nav2_costmap_2d/src/costmap_2d_ros.cpp
  nav2_dwb_controller/dwb_controller/src/dwb_controller.cpp
  nav2_lifecycle/src/lifecycle_node.cpp
  nav2_system_tests/params/nav2_params.yaml
  nav2_world_model/src/world_model.cpp
Labels: nav2_lifecycle

#653 Port AMCL to lifecycle nodes
  nav2_amcl/CMakeLists.txt
  nav2_amcl/include/nav2_amcl/amcl_node.hpp
  nav2_amcl/package.xml
  nav2_amcl/src/amcl_node.cpp
  nav2_amcl/src/main.cpp
Labels: nav2_lifecycle

#665 Lifecycle enable the nav2_system_test directory
  nav2_system_tests/CMakeLists.txt
  nav2_system_tests/package.xml
  nav2_system_tests/src/dummy_controller/dummy_controller.cpp
  nav2_system_tests/src/dummy_planner/dummy_planner.cpp
  nav2_system_tests/src/localization/test_localization_launch.py
  nav2_system_tests/src/localization/test_localization_node.cpp
  nav2_system_tests/src/planning/planner_tester.cpp
  nav2_system_tests/src/planning/test_planner_launch.py
  nav2_system_tests/src/system/test_system_launch.py
  nav2_system_tests/src/updown/CMakeLists.txt
  nav2_system_tests/src/updown/nav2_params.yaml
  nav2_system_tests/src/updown/start_nav2
  nav2_system_tests/src/updown/test_updown.cpp
  nav2_system_tests/src/updown/test_updown_launch.py
  nav2_system_tests/src/updown/test_updown_reliability
  nav2_system_tests/urdf/common_properties.urdf
  nav2_system_tests/urdf/turtlebot3_burger.urdf
Labels: nav2_lifecycle

#758 Initialize variables to avoid errors in the release build
  nav2_dwb_controller/dwb_plugins/src/limited_accel_generator.cpp
  nav2_dwb_controller/dwb_plugins/src/standard_traj_generator.cpp
  nav2_dwb_controller/nav_2d_utils/include/nav_2d_utils/parameters.hpp
Labels: nav2_lifecycle

#764 Revert "Remove COLCON_IGNORE to enable the system tests"
  nav2_system_tests/COLCON_IGNORE
Labels: nav2_lifecycle

#763 Fix typos in dependencies
  nav2_dwb_controller/dwb_core/package.xml
  nav2_motion_primitives/package.xml
  nav2_navfn_planner/package.xml
Labels: nav2_lifecycle

#766 Bug fix in DWB rotation critic
  nav2_dwb_controller/nav_2d_utils/include/nav_2d_utils/odom_subscriber.hpp
Labels: 1 - High, nav2_lifecycle

#751 Port goalReachedCondition node and isLocalizedCondition node to lifecycle
  nav2_tasks/include/nav2_tasks/bt_action_node.hpp
  nav2_tasks/include/nav2_tasks/goal_reached_condition.hpp
  nav2_tasks/include/nav2_tasks/is_localized_condition.hpp
Labels: 1 - High, nav2_lifecycle

#752 Fixed costmap plugins parameter re-declaration bug
  nav2_bt_navigator/behavior_trees/recovery_test.xml
  nav2_costmap_2d/include/nav2_costmap_2d/inflation_layer.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/layer.hpp
  nav2_costmap_2d/plugins/inflation_layer.cpp
  nav2_costmap_2d/plugins/obstacle_layer.cpp
  nav2_costmap_2d/plugins/static_layer.cpp
  nav2_costmap_2d/plugins/voxel_layer.cpp
  nav2_costmap_2d/src/layer.cpp
  nav2_costmap_2d/test/integration/costmap_tests_launch.py
  nav2_costmap_2d/test/integration/obstacle_tests.cpp
Labels: 1 - High, nav2_lifecycle

#747 Updating Motion Primitives unit tests
  nav2_motion_primitives/CMakeLists.txt
  nav2_motion_primitives/include/nav2_motion_primitives/motion_primitive.hpp
  nav2_motion_primitives/src/back_up.cpp
  nav2_motion_primitives/test/test_motion_primitives.cpp
  nav2_msgs/CMakeLists.txt
  nav2_msgs/action/DummyPrimitive.action
Labels: 1 - High, nav2_lifecycle

#761 Use AsyncActionNode instead of CoroActionNode
  nav2_bringup/launch/bt_navigator.xml
  nav2_bt_navigator/src/bt_navigator.cpp
  nav2_tasks/include/nav2_tasks/bt_action_node.hpp
Labels: nav2_lifecycle

#748 Use RCLCPP_FATAL upon a lifecycle node entering error state
  nav2_amcl/src/amcl_node.cpp
  nav2_bt_navigator/src/bt_navigator.cpp
  nav2_costmap_2d/src/costmap_2d_ros.cpp
  nav2_dwb_controller/dwb_controller/src/dwb_controller.cpp
  nav2_map_server/src/map_server.cpp
  nav2_mission_executor/src/mission_executor.cpp
  nav2_navfn_planner/src/navfn_planner.cpp
  nav2_world_model/src/world_model.cpp
Labels: nav2_lifecycle

#771 Added a custom launch substitution to modify YAML parameters based on launch params - lifecycle version
  nav2_bringup/package.xml
  nav2_common/CMakeLists.txt
  nav2_common/nav2_common/__init__.py
  nav2_common/nav2_common/launch/__init__.py
  nav2_common/nav2_common/launch/rewritten_yaml.py
  nav2_common/package.xml
Labels: nav2_lifecycle

#769 Increase RVIZ logging severity level
  nav2_bringup/launch/nav2_bringup_launch.py
Labels: 2 - Medium, nav2_lifecycle

#772 Modified all the Behaivor Tree's to work with lifecycle branch
  nav2_bringup/launch/bt_navigator.xml
  nav2_bt_navigator/behavior_trees/auto_localization.xml
  nav2_bt_navigator/behavior_trees/auto_localization_w_parallel_recovery.xml
  nav2_bt_navigator/behavior_trees/auto_localization_w_replanning_and_recovery.xml
  nav2_bt_navigator/behavior_trees/bt_navigator_params.yaml
  nav2_bt_navigator/behavior_trees/navigate_w_replanning.xml
  nav2_bt_navigator/behavior_trees/navigate_w_replanning_and_recovery.xml
  nav2_bt_navigator/behavior_trees/parallel.xml
  nav2_bt_navigator/behavior_trees/parallel_w_recovery.xml
  nav2_bt_navigator/behavior_trees/simple_sequential.xml
  nav2_bt_navigator/behavior_trees/simple_sequential_w_recovery.xml
  nav2_tasks/include/nav2_tasks/is_localized_condition.hpp
Labels: 1 - High, nav2_lifecycle

#760 AMCL to use sensor data qos for scan topic
  nav2_amcl/src/amcl_node.cpp
Labels: 1 - High

#779 Fix Lifecycle NodeOptions API rename
  nav2_dwb_controller/dwb_plugins/test/CMakeLists.txt
  nav2_dwb_controller/dwb_plugins/test/twist_gen.cpp
  nav2_util/src/node_utils.cpp
Labels: 0 - Critical, nav2_lifecycle

#762 Re-enable obstacle layer
  nav2_bringup/launch/nav2_params.yaml
  nav2_costmap_2d/plugins/obstacle_layer.cpp
Labels: 0 - Critical, nav2_lifecycle

#778 Update NodeOptions API rename
  nav2_dwb_controller/dwb_plugins/test/twist_gen.cpp
  nav2_util/src/node_utils.cpp
Labels: 1 - High

#780 Stop spinning rclcpp_node thread in LifecycleNode destructor
  nav2_util/include/nav2_util/lifecycle_node.hpp
  nav2_util/src/lifecycle_node.cpp
Labels: nav2_lifecycle

#788 Deleted recovery_test BT
  nav2_bt_navigator/behavior_trees/recovery_test.xml
Labels: nav2_lifecycle

#770 Updating the RVIZ default view
  nav2_bringup/launch/nav2_bringup_launch.py
  nav2_bringup/launch/nav2_default_view.rviz
Labels: 3 - Low, nav2_lifecycle

#790 package.xml files are missing nav2_common dependency
  nav2_lifecycle_manager/package.xml
  nav2_map_server/package.xml
  nav2_mission_executor/package.xml
  nav2_navfn_planner/package.xml
  nav2_robot/package.xml
  nav2_tasks/package.xml
  nav2_world_model/package.xml
Labels: nav2_lifecycle

#791 Fix launch bringup syntax
  nav2_bringup/launch/nav2_bringup_launch.py
Labels: 0 - Critical, nav2_lifecycle

#774 Fixed amcl related lifecycle issues
  nav2_amcl/include/nav2_amcl/amcl_node.hpp
  nav2_amcl/src/amcl_node.cpp
  nav2_dwb_controller/dwb_controller/src/dwb_controller.cpp
  nav2_robot/src/robot.cpp
  nav2_system_tests/CMakeLists.txt
  nav2_system_tests/src/localization/test_localization_node.cpp
Labels: 1 - High, nav2_lifecycle
