Repository ros-navigation/navigation2, pull requests merged in 2019-01, with the labels that each got.

#387 [WIP] Port of nav2_costmap_2d tests
  nav2_costmap_2d/CMakeLists.txt
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_2d_ros.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/inflation_layer.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/obstacle_layer.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/static_layer.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/testing_helper.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/voxel_layer.hpp
  nav2_costmap_2d/plugins/inflation_layer.cpp
  nav2_costmap_2d/plugins/obstacle_layer.cpp
  nav2_costmap_2d/plugins/static_layer.cpp
  nav2_costmap_2d/plugins/voxel_layer.cpp
  nav2_costmap_2d/src/costmap_2d_ros.cpp
  nav2_costmap_2d/test/CMakeLists.txt
  nav2_costmap_2d/test/footprint_tests.launch
  nav2_costmap_2d/test/inflation_tests.launch
  nav2_costmap_2d/test/integration/CMakeLists.txt
  nav2_costmap_2d/test/integration/costmap_tester.cpp
  nav2_costmap_2d/test/integration/costmap_tests_launch.py
  nav2_costmap_2d/test/integration/footprint_tests.cpp
  nav2_costmap_2d/test/integration/inflation_tests.cpp
  nav2_costmap_2d/test/integration/obstacle_tests.cpp
  nav2_costmap_2d/test/integration/static_tests.cpp
  nav2_costmap_2d/test/map/TenByTen.pgm
  nav2_costmap_2d/test/map/TenByTen.yaml
  nav2_costmap_2d/test/obstacle_tests.launch
  nav2_costmap_2d/test/static_tests.launch
  nav2_costmap_2d/test/test_launch_files/costmap_map_server.launch.py
  nav2_costmap_2d/test/unit/CMakeLists.txt
  nav2_costmap_2d/test/unit/array_parser_test.cpp
Labels: 1 - High, costmap_2d

#413 update README to revise nav2_bringup guide
  nav2_bringup/README.md
Labels: 1 - High

#522 Adding more detail to Recovery Behaviors readme
  nav2_bt_navigator/README.md
  nav2_bt_navigator/doc/recovery1.png
  nav2_bt_navigator/doc/recovery2.png
  nav2_bt_navigator/doc/recovery3.png
  nav2_bt_navigator/doc/recovery4.png
Labels: 2 - Medium, nav2_recovery_behaviors

#546 Enabling dynamic obstacle detection
  nav2_bringup/launch/nav2_params.yaml
  nav2_costmap_2d/plugins/obstacle_layer.cpp
Labels: 1 - High
